<div class="card m-2" style="width: 18rem;">
  <img class="img-fluid" src="https://source.unsplash.com/300x200/?restaurant" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%= restaurant.name %></h5>
    <p class="card-text"><%= restaurant.category.capitalize %></p>
    <%= link_to "Go Here", restaurant_path(restaurant), class:"btn btn-success" %>
  </div>
</div>
