<div class="card my-2">
  <div class="card-header">
    Rating: <%= review.rating %> stars
    <%= link_to "X",
            review_path(review),
            method: :delete,
            data: { confirm: "Are you sure?" },
            class: "btn btn-danger btn-sm"
            %>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p><%= review.content %></p>
    </blockquote>
  </div>
</div>
